:root {
    --cor1: #0C70F2;
    --tWit: #FFFFFF;
    --Padrao-font: "Inter", sans-serif;
    --size-title: 40px;
    --size-subt: 26px;
    --size-text: 20px;
    --font-wid: bold;
    --cor2: #F2F2F2;

    --cor3: rgb(4, 79, 73);
    --cor4: rgb(212, 212, 212);
    --size-fon: 15px;
    --size-tex: 18px;
    --size-s: 20px;
    --size-t: 30px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#m {
    background-color: var(--cor1);
    color: #FFFFFF;
    font-family: var(--Padrao-font);
}

#Til-menu {
    font-family: var(--Padrao-font);
    font-size: var(--size-title);
    text-align: left;
}

.subcontainer {
    font-family: var(--Padrao-font);
    font-size: var(--size-title);
    text-align: left;
    font-weight: 800;
    background-color: var(--cor2);
}

#subt {
    justify-content: center;
}

#sub-tex {
    padding: 100px 80px 50px 0px;
}

#sub-img {
    padding: 80px 0px 50px 50px;
}

.container {
    padding: 80px 80px 80px 80px;

}

#navbarText {
    font-family: var(--Padrao-font);
    font-size: var(--size-text);
}

#text-form {
    font-size: var(--size-text);
    font-family: var(--Padrao-font);
    font-weight: 400;
}

#resul {
    padding-top: 300px;
}

div.container input {
    padding-left: 30px;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    min-width: 99%;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #FFFFFF;
    background: var(--cor1);
    background: linear-gradient(90deg, rgba(12, 112, 242, 1) 0%, rgb(7, 241, 237) 100%);
    border: none;
    border-radius: 10px;
    box-shadow: 12px 12px 24px rgba(30, 2, 75, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

button::before {
    content: '';
    min-width: calc(100%);
    min-height: calc(60px + 12px);
    border: 6px solid #0C70F2;
    border-radius: 10px;
    box-shadow: 0 0 60px rgba(24, 4, 116, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover,
.button:focus {
    color: white;
    transform: translateY(-6px);
}

button:hover::before,
button:focus::before {
    opacity: 1;
}

button::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #08155f;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

button:hover::after,
button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }

    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

#m-b {
    height: 80px;
}

#a {
    width: 100%;
    height: 32px;
    background-color: var(--cor1);
    color: var(--cor2);
    border-radius: 50px 50px 0px 0px;
    padding: 60px;
}

#a p {
    font-size: var(--size-text);
    text-align: center;
}

#b {
    width: 100%;
    height: 32px;
    background-color: white;
    border-radius: 0px 0px 50px 50px;
    padding: 60px;
}

#b p {
    font-size: var(--size-text);
    color: black;
    text-align: center;
}

#c {
    width: 100%;
    background-color: white;
    border-radius: 50px 50px 50px 50px;
    height: 80px;
    margin-bottom: 200px;
}

#c p {
    font-size: var(--size-text);
    color: black;
    text-align: center;
}

.subcontainer #resp-2 {
    display: none;
}

.subcontainer #TR {
    display: flex;
    justify-content: center;
    height: 130px;
    margin-right: 100px;
}

#subtex {
    padding-right: 20px;
}

#pre {
    margin-top: 200px;
}

#pre p {
    margin-right: 20px;
}

.subcontainer #pre2 {
    display: none;
}

.footer {
    background-color: var(--cor1);
    height: 94px;
    margin-left: 10px;
}

.footer a {
    margin-top: 30px;
    font-family: var(--Padrao-font);
    font-size: var(--size-text);
    color: var(--cor2);
}

@media only screen and (max-width: 600px) {

    #m {
        width: 100%;
        height: 250px;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        text-align: center;
        background-color: var(--cor3);
    }

    #m #Til-menu {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        font-size: var(--size-t);
        align-content: center;
        justify-content: center;
        text-align: center;
    }

    #navbarText {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        text-align: center;


    }

    #navbarText a {
        display: flex;
        flex-direction: column;
        font-size: var(--size-s);
        align-content: center;
        justify-content: center;
        text-align: center;
        font-weight: 1000;
    }

    section {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0;
    }

    #subt {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .subcontainer {
        width: 100%;
        margin: 0;
        padding: 0;
        justify-content: center;
        justify-items: center;
        display: flex;
        flex-direction: column;
    }

    #subt {
        display: flex;
        flex-direction: column;
        justify-content: none;
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    #sub-tex {
        display: flex;
        flex-direction: column;
        font-size: var(--size-s);
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
        align-items: center;
    }

    #sub-img {
        flex-direction: column;
        width: 100%;
        margin: 20px 0 20px 0;
        padding: 0;
    }

    #for-a {

        margin: 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    #text-form {
        font-size: var(--size-tex);
        font-weight: 400;
        display: flex;

    }

    #text-form input {
        font-size: var(--size-s);
    }

    #resul {
        padding-top: 100px;
    }

    .subcontainer #TR {
        display: flex;
        flex-direction: column;
        justify-self: center;
        height: 400px;
        align-items: center;
        width: 100%;
        text-align: center;

    }

    .button {
        font-size: var(--size-tex);
    }

    #subtex {
        padding: 0;
        font-size: var(--size-subt);
    }

    .subcontainer #resp {
        display: none;
    }

    .subcontainer #resp-2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .subcontainer #resp-2 #a p {
        align-items: center;
        text-align: center;
    }

    .subcontainer #resp-2 #b p {
        align-items: center;
        text-align: center;
    }

    .subcontainer #pre {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin-top: 0;
        padding: 0;
    }

    #pre #sub.tex #sub.img {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        font-size: var(--size-tex);
        margin-top: 0;
        padding: 0;
    }

    #pre p {
        text-align: center;
        font-size: var(--size-tex);
        margin: 0;
    }

    .subcontainer #pre1 {
        display: none;
    }

    .subcontainer #pre2 {
        display: flex;
        height: 240px;
        font-size: var(--size-fon);

    }

    #pre2 #c {
        display: flex;
        justify-content: center;
        text-align: end;
        padding-top: 20px;
    }

    .footer {
        background-color: var(--cor3);
        height: 220px;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .footer ul {
        background-color: var(--cor3);
        height: 220px;
        align-items: center;
        width: 100%;
        text-align: center;
    }

    .footer a {
        font-family: var(--Padrao-font);
        font-size: var(--size-tex);
        color: var(--cor2);
    }
}